* {
  font-size: 1rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  color: white;
  background-color: black;
  width: 100vw;
  height: 55px;
  justify-items: center;
}
header > h1 {
  padding-top: 10px;
  font-size: 2rem;
}

main {
  display: flex;
  gap: 2rem;
}

.mapaContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-template-rows: repeat(5, 0fr);
}

.box {
  border: 2px solid black;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
}

#startBox {
  background-color: rgb(16, 212, 16);
}

#endBox {
  background-color: rgb(0, 89, 255);
}

#person,
#theEnd {
  font-size: 4rem;
  width: 5rem;
}

.buttonsTheControl {
  margin-top: 1rem;
}

#moveButton,
#girarEsq,
#girarDir,
#lightBox {
  font-size: 2rem;
  height: 6rem;
  width: 6rem;
}

#faseButton {
  font-size: 1.5rem;
  display: none;
  width: 10rem;
  border-radius: 2rem;
  height: 4rem;
  margin-left: 2rem;
}

.mainBlock,
.p1Block,
.p2Block {
  max-width: 25rem;
  border: solid black 0.1rem;
  margin-top: 1rem;
  
}

.mainBlock > h1,
.p1Block > h1,
.p2Block > h1 {
  font-size: 1rem;
  color: white;
  background-color: rgb(123, 123, 123);
  width: calc(100% -4px);
  height: 18px;
  padding: 4px;
}

.boxMain,
.boxP1,
.boxP2 {
  border: 2px solid black;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  padding: 0px;
}

#startExec {
  font-size: 1.5rem;
  background-color: rgb(7, 226, 36);
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  border: solid black 1px;
}
