* {
  font-size: 1rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(Imagens/fundo-mapa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  color: white;
  background-color: black;
  justify-items: center;
  padding: 1rem;
}

header > h1 {
  font-size: 2rem;
}

main {
  padding: 0px 10rem;
  margin: auto;
}

.mainFase {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 2rem;
}

.mapaContainer {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-template-rows: repeat(5, 0fr);
}

.box {
  border: 2px solid black;
  width: 6rem;
  height: 6em;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.508);
}

#startBox {
  background-color: rgba(255, 255, 255, 0.7);
}

#endBox {
  background-color: rgba(255, 255, 255, 0.8);
}

#person,
#theEnd {
  width: 5rem;
}
#pokebola {
  width: 4rem;
}
#theEnd,
#pokebola {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.buttonsTheControl {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.optionsDep {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  border-radius: 10px;
}

#moveButton,
#girarEsq,
#girarDir,
#lightButton,
#p1Button,
#p2Button,
#jumpButton {
  background-color: #ffffff96;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}

#jumpButton {
  width: 10rem;
}

.icon-comando {
  font-size: 2rem;
}

#moveButton:hover,
#girarEsq:hover,
#girarDir:hover,
#lightButton:hover,
#p1Button:hover,
#p2Button:hover,
#jumpButton:hover {
  background-color: #ffffffd7;
  font-size: 3rem;
  height: 5.5rem;
  width: 5.5rem;
  transform: translate(0px, -4px);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

#jumpButton:hover {
  width: 12rem;
}

button > i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

#faseButton,
#retryButton {
  font-size: 1.5rem;
  display: none;
  width: 10rem;
  border-radius: 2rem;
  height: 4rem;
  margin-left: 2rem;
}

.mainBlock,
.p1Block,
.p2Block {
  max-width: 22.6rem;
  border: solid black 0.1rem;
  margin-bottom: 1rem;
}

.titleMain > h1,
.titleP1 > h1,
.titleP2 > h1 {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  padding: 2px 10px;
}

.containerMain,
.containerP1,
.containerP2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxMain,
.boxP1,
.boxP2 {
  background-color: #00000096;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.buttonsBlock {
  display: flex;
  max-width: 22.6rem;
  gap: 1rem;
}

#startExec {
  font-size: 1.5rem;
  background-color: #0ed028;
  width: 12rem;
  height: 3rem;
  border-radius: 1rem;
  border: solid black 1px;
  cursor: pointer;
}

#startExec:hover {
  background-color: #0ae928;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

#returnButton {
  font-size: 1.5rem;
  background-color: #b7b3b3;
  width: 9.7rem;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  border: solid rgb(0, 0, 0) 2px;
}

#returnButton:hover {
  background-color: #cac7c7;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

.optionsDep {
  margin-bottom: 2rem;
}

.optionsDep > p,
.optionsDep > label {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 2px;
  margin: 0rem 2rem 0rem 1rem;
}

input[type="radio"] {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  accent-color: #1500ff;
  cursor: pointer;
}

.return > a > button {
  width: 8rem;
  height: 2rem;
}

@media (max-width: 955px) {
  main {
    padding: 0px 1rem;
    margin: auto;
  }
  .mainFase {
    gap: 1rem;
  }
}

@media (max-width: 865px) {
  .mainFase {
    gap: 3rem;
  }
  .box {
    width: 4rem;
    height: 4em;
  }
  #person,
  #theEnd {
    width: 3rem;
  }
  .boxMain,
  .boxP1,
  .boxP2 {
    width: 2rem;
    height: 2rem;
    padding: 0px;
  }
  .mainBlock,
  .p1Block,
  .p2Block {
    max-width: 14.2rem;
    border: solid black 0.1rem;
    margin-bottom: 1rem;
  }

  .icon-comando {
    font-size: 1.5rem;
  }

  #startExec {
    font-size: 1rem;
    width: 8.3rem;
    height: 1.5rem;
  }
  #startExec:hover {
    background-color: #0ae928;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
  }
  #returnButton {
    font-size: 1rem;
    width: 5rem;
    height: 1.5rem;
  }
  #returnButton:hover {
    background-color: #cac7c7;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
  }
}

@media (max-width: 690px) {
  .optionsDep > p,
  .optionsDep > label {
    font-size: 1rem;
    padding: 2px;
    margin: 0rem 2rem 0rem 1rem;
  }
  input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    accent-color: #1500ff;
    cursor: pointer;
  }
}

@media (max-width: 630px) {
  .mainFase {
    display: grid;
  }
  .mainBlock,
  .p1Block,
  .p2Block {
    max-width: 20rem;
  }

  .boxMain,
  .boxP1,
  .boxP2 {
    background-color: #00000096;
    width: 1.412rem;
    height: 1.412rem;
    padding: 0px;
  }
  .buttonsBlock{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #startExec, #returnButton{
    width: 150px;
  }
  .icon-comando {
    font-size: 1rem;
  }
  .buttonsTheControl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-items: center;
  }
  #moveButton,
  #girarEsq,
  #girarDir,
  #lightButton,
  #p1Button,
  #p2Button,
  #jumpButton {
    background-color: #ffffff96;
    font-size: 2rem;
    height: 4rem;
    width: 100%;
  }
  #jumpButton {
    grid-column: -1 / 1;
    width: 100%;
  }
  #moveButton:hover,
  #girarEsq:hover,
  #girarDir:hover,
  #lightButton:hover,
  #p1Button:hover,
  #p2Button:hover,
  #jumpButton:hover {
    font-size: 2rem;
    background-color: #ffffffd7;
    height: 4rem;
    width: 100%;
    transform: translate(0px, -4px);
    border-radius: 5px;
  }
  button > i {
    font-size: 2rem;
  }
  .optionsDep > p {
    display: none;
  }
  .optionsDep > label {
    font-size: 1.5rem;
    margin: 0px 15px 0px 5px;
  }
  input[type="radio"] {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    accent-color: #1500ff;
    cursor: pointer;
  }
}
