* {
  font-size: 1rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(Imagens/fundo-mapa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
   background-attachment: fixed;
}

header {
  color: white;
  background-color: black;
  justify-items: center;
  padding: 1rem;
}
header > h1 {
  font-size: 2rem;
}

main {
  max-width: 80%;
  margin: auto;
}

.mainFase {
  display: flex;
  justify-content: center; 
  gap: 6rem;
  margin-top: 2rem ;
}


.mapaContainer {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-template-rows: repeat(5, 0fr);
}

.box {
  border: 2px solid black;
  width: 6rem;
  height: 6em;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.508);
}

#startBox {
  background-color: rgba(255, 255, 255, 0.700);
}

#endBox {
  background-color: rgba(255, 255, 255, 0.800);
}

#person,
#theEnd {
  width: 5rem;
}

#theEnd {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.buttonsTheControl{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.600);
}
.optionsDep {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.600);
  padding: 0.5rem;
  border-radius: 10px;
}

#moveButton,
#girarEsq,
#girarDir,
#lightButton,
#p1Button,
#p2Button {
  background-color: #ffffff96;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}

#moveButton:hover,
#girarEsq:hover ,
#girarDir:hover ,
#lightButton:hover ,
#p1Button:hover,
#p2Button:hover  {
  background-color: #ffffffd7;
  font-size: 3rem;
  height: 5.5rem;
  width: 5.5rem;
  transform: translate(0px,-4px );
  border-radius: 5px;
  cursor: p;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

button > i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

#faseButton,
#retryButton {
  font-size: 1.5rem;
  display: none;
  width: 10rem;
  border-radius: 2rem;
  height: 4rem;
  margin-left: 2rem;
}

.mainBlock,
.p1Block,
.p2Block {
  max-width: 22.6rem;
  border: solid black 0.1rem;
  margin-bottom: 1rem;
}

.titleMain > h1,
.titleP1> h1,
.titleP2 > h1 {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  padding: 2px 10px;
}

.containerMain,
.containerP1,
.containerP2  {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
}

.boxMain,
.boxP1,
.boxP2 {
  background-color: #00000096;
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  padding: 0px;
  
}

.buttonsBlock {
  display: flex;
  max-width: 22.6rem;
  gap: 1rem   ;
}

#startExec {
  font-size: 1.5rem;
  background-color: #0ed028;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  border: solid black 1px;
  cursor: pointer;
}

#startExec:hover{
  background-color: #0ae928 ;
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

#returnButton {
  font-size: 1.5rem;
  background-color: #b7b3b3;
  width: 11.7rem;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  border: solid rgb(0, 0, 0) 2px;
}

#returnButton:hover{
  background-color: #cac7c7 ;
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

.optionsDep > p, .optionsDep > label  {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 2px;
  margin:0rem 2rem 0rem 1rem;
}

input[type="radio"] {
  width: 2rem;      
  height: 2rem;
  border-radius: 50%; 
  accent-color: #1500ff; 
  cursor: pointer;
}



.return > a > button {
  width: 8rem;
  height: 2rem;
}
