* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/fundo-pikachu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: rgba(0, 0, 0, 0.39);
}

header > h1{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.482);
    font-weight: bold;
    text-transform: uppercase;
}
header > h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 0rem 0rem 2rem 0rem;
}

#playButton {
    width: 32rem;
    height: 12rem;
    border-radius: 4rem;
    background-color: rgb(7, 204, 16);
    margin: 10rem auto;
    display: flex;
    border: none;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.495);
}

#playButton:hover{
    background-color: #03ff07;
}

#playButton > a{
    color: #000000;
    font-weight: normal;
    font-size: 8rem;
    text-decoration: none;
}

#playButton {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
