* {
  font-size: 1rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 54, 54);
}

main {
  max-width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#myPhoto {
  width: 20rem;
  margin: auto;
}

#linkedButton {
  width: 100%;
  height: 4rem;
  background-color: black;
  border: none;
  border-radius: 0px 0px 1rem 1rem;
}
#linkedButton > a,
#linkedButton > a > i {
  font-size: 2rem;
  text-decoration: none;
  color: blue;
  font-weight: 400;
}

#linkedButton > a {
  color: rgb(255, 255, 255);
}

.linked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(29, 29, 29);
  width: 25rem;
  height: 27rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.466);
}

.endGame > h1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.endGame {
  margin-bottom: 2rem;
  text-align: center;
}

.iamDev {
  text-align: center;
}
.iamDev > h2 {
  font-size: 2rem;
  color: blue;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.464);
}
.iamDev > p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.649);
  padding-top: 0.5rem;
}

@media (max-width: 875px) {
  .endGame > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 430px) {
  #myPhoto {
    width: 15rem;
  }
  .linked {
    width: 20rem;
  }
}
